.dashboard {
  display: flex;
  justify-content: start;
  align-items: start;
  flex-direction: column;
  font-family: "SF Pro" !important;
  gap: 17px;
  h1 {
    font-size: 40px;
    font-weight: 500;
  }
  &_tabs {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 10px;
    flex-wrap: wrap;
    li {
      list-style: none;
      white-space: nowrap;
      @media (max-width: 495px) {
        width: calc(100% / 2 - 10px);
        min-width: 150px;
        flex-grow: 1;
      }
      @media (max-width: 657px) {
        flex-grow: 1;
      }
      button {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 10px 23px;
        font-size: 16px;
        text-align: center;
        letter-spacing: 0.3px;
        line-height: 20px;
        border-radius: 6px;
        cursor: pointer;
        font-weight: 400;
        background-color: transparent;
        border: 1px solid var(--border-color);
        color: var(--text-blue);
      }
      &.active {
        button {
          background-color: var(--text-blue) !important;
          color: var(--main-white) !important;
          border: none !important;
        }
      }
    }
  }
  &_timeframe {
    display: flex;
    justify-content: start;
    align-items: center;
    flex-wrap: wrap;
    border: 1px solid var(--border-color);
    padding: 18px 20px;
    width: 100%;
    background-color: var(--main-white);
    gap: 10px;
    border-radius: 10px;
    p {
      font-size: 18px;
      color: var(--text-blue);
      font-weight: 500;
    }
    button {
      padding: 5px 16px;
      color: var(--text-blue);
      font-size: 16px;
      font-weight: 400;
      border-radius: 6px;
      border: 1px solid var(--border-color);
      background-color: transparent;
      cursor: pointer;
      background-color: var(--main-white);
      @media (max-width: 450px) {
        flex-grow: 1;
      }
    }
  }
  &_contents {
    width: 100%;
    .content {
      width: 100%;
      display: none;
      &.visible {
        display: flex;
      }
      flex-direction: column;
      &_effectiveness {
        width: 100%;
        display: flex;
        justify-content: start;
        align-items: stretch;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 20px;
        &_tab {
          min-height: 200px;

          min-width: 360px;
          flex-grow: 1;
          &:nth-child(1) {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            width: 25%;
            padding: 18px 20px;
            border-radius: 10px;
            border: 1px solid var(--border-color);
            background: var(--main-white);
            h3 {
              color: var(--text-blue);
              font-family: "SF Pro";
              font-size: 18px;
              font-weight: 500;
            }
            div {
              width: 100%;
              display: flex;
              justify-content: space-between;
              align-items: stretch;
              flex-wrap: wrap;
              gap: 1rem;
              canvas {
                width: 134px !important;
                height: 134px !important;
                overflow: visible;
              }
              div {
                width: calc(100% - 134px - 2rem);
                flex-grow: 1;
                padding: 5px 0px;
                display: flex;
                flex-direction: column;
                gap: 15px;
                div {
                  width: 100%;
                  span {
                    width: 100%;
                    display: flex;
                    align-items: center;
                    background-color: #f3f3ff;
                    border-radius: 2px;
                    gap: 10px;
                    max-width: 120px;
                    &:first-child {
                      color: #171739;
                      font-family: "SF Pro";
                      font-size: 14px;
                      font-weight: 400;
                      span {
                        background-color: var(--text-blue);
                      }
                    }
                    &:last-child {
                      color: #577cde;
                      font-family: "SF Pro";
                      font-size: 14px;
                      font-weight: 400;
                      span {
                        background-color: #577cde;
                      }
                    }
                    span {
                      display: flex;
                      justify-content: center;
                      align-items: center;
                      width: 24px;
                      height: 24px;
                      border-radius: 2px;
                    }
                  }
                }
                button {
                  padding: 10px 24px;
                  border-radius: 4px;
                  background: var(--text-blue);
                  border: none;
                  color: var(--main-white);
                  color: var(--main-white);
                  font-family: "SF Pro";
                  font-size: 14px;
                  font-weight: 500;
                  line-height: 20px;
                  letter-spacing: 0.3px;
                  cursor: pointer;
                }
              }
            }
          }
          &:nth-child(2) {
            width: 25%;
            display: flex;
            justify-content: space-between;
            flex-direction: column;
            div {
              padding: 18px 20px;
              border-radius: 10px;
              border: 1px solid var(--border-color);
              background-color: var(--main-white);
              p {
                color: var(--text-blue);
                font-family: "SF Pro";
                font-size: 18px;
                font-weight: 500;
              }
              h1 {
                color: var(--text-blue);
                font-family: "SF Pro";
                font-size: 28px;
                font-weight: 800;
              }
            }
          }
          &:nth-child(3) {
            width: 45%;
            background-color: var(--main-white);
            border-radius: 10px;
            border: 1px solid var(--border-color);
            padding: 15px 23px;
            display: flex;
            flex-direction: column;
            justify-content: start;
            gap: 10px;
            .content_effectiveness_tab_title {
              width: 100%;
              display: flex;
              justify-content: space-between;
              align-items: center;
              h3 {
                color: var(--text-blue);
                font-family: "SF Pro";
                font-size: 18px;
                font-weight: 500;
              }
              a {
                text-decoration: none;
                color: #171739;
                font-family: "SF Pro";
                font-size: 14px;
                font-weight: 500;
                letter-spacing: 0.3px;
              }
            }
            .content_effectiveness_tab_managers {
              display: flex;
              justify-content: start;
              align-items: start;
              flex-wrap: wrap;
              @media (max-width: 700px) {
                flex-direction: column;
              }
              gap: 5px;
              div {
                width: calc(100% / 2 - 5px);
                display: flex;
                @media (max-width: 700px) {
                  width: 100%;
                }
                justify-content: space-between;
                align-items: start;
                padding: 8px;
                border-radius: 10px;
                border: 1px solid var(--border-color);
                @media (max-width: 800px) {
                  flex-direction: column;
                }
                div {
                  display: flex;
                  flex-direction: column;
                  justify-content: start;
                  padding: 0;
                  border: none;
                  border-radius: 0;
                  flex-wrap: wrap;
                  &:first-child {
                    h3 {
                      color: var(--text-blue);
                      font-family: "SF Pro";
                      font-size: 16px;
                      font-weight: 500;
                    }
                    p {
                      color: #a9a9b9;
                      font-family: "SF Pro";
                      font-size: 14px;
                      font-weight: 500;
                    }
                    width: 55%;
                    @media (max-width: 800px) {
                      width: 100%;
                      flex-direction: row;
                      justify-content: space-between;
                    }
                  }
                  &:last-child {
                    align-items: end;
                    gap: 10px;
                    span {
                      display: flex;
                      padding: 0px 16px;
                      justify-content: center;
                      align-items: center;
                      gap: 8px;
                      flex-shrink: 0;
                      border-radius: 5px;
                      background: #ffe8eb;
                      color: #cc0a2a;
                      text-align: center;
                      font-family: "SF Pro";
                      font-size: 16px;
                      font-weight: 500;
                    }
                    button {
                      padding: 5px 24px;
                      border-radius: 4px;
                      background: var(--text-blue);
                      color: white;
                      color: var(--main-white);
                      font-family: "SF Pro";
                      font-size: 14px;
                      font-weight: 500;
                      line-height: 20px;
                      letter-spacing: 0.3px;
                      border: none;
                      cursor: pointer;
                    }
                  }
                  width: 45%;
                  @media (max-width: 800px) {
                    width: 100%;
                    flex-direction: row;
                    justify-content: space-between;
                  }
                }
              }
            }
          }
        }
      }
      &_estimates {
        display: flex;
        justify-content: start;
        align-items: start;
        flex-direction: column;
        padding-top: 25px;
        gap: 1rem;
        h3 {
          color: #171739;
          font-family: "SF Pro";
          font-size: 24px;
          font-weight: 500;
        }
        &_tabs {
          display: flex;
          justify-content: start;
          align-items: center;
          gap: 8px;
          button {
            padding: 10px 24px;
            text-align: center;
            font-family: "SF Pro";
            font-size: 16px;
            font-weight: 500;
            line-height: 20px;
            letter-spacing: 0.3px;
            border-radius: 6px;
            cursor: pointer;
            border: none;
            &:first-child {
              background-color: var(--text-blue);
              color: white;
            }
            &:last-child {
              background-color: transparent;
              color: var(--text-blue);
              border: 1px solid var(--border-color);
            }
          }
        }
        &_content {
          width: 100%;
          display: flex;
          justify-content: start;
          align-items: start;
          flex-direction: row;
          gap: 20px;
          @media (max-width: 850px) {
            flex-direction: column;
          }
          div {
            border-radius: 10px;
            background-color: white;
            border: 1px solid var(--border-color);
            padding: 20px;
            @media (max-width: 850px) {
              width: 100%;
            }
            h3 {
              color: var(--text-blue);
              font-family: "SF Pro";
              font-size: 18px;
              font-weight: 500;
              padding-bottom: 30px;
            }
          }
          &_alltime {
            width: calc(100% / 2 - 20px);
          }
          &_dynamic {
            width: calc(100% / 2 - 20px);
          }
        }
      }
      &_average {
        width: 100%;
        display: flex;
        justify-content: start;
        align-items: stretch;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 20px;
        div {
          background-color: var(--main-white);
          border: 1px solid var(--border-color);
          border-radius: 10px;
          padding: 20px;
          h3 {
            color: var(--text-blue);
            font-family: "SF Pro";
            font-size: 18px;
            font-weight: 500;
            padding-bottom: 25px;
          }
        }
        &_period {
          width: 40%;
        }
        &_dynamic {
          width: calc(60% - 20px);
        }
      }
      &_sections {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: start;
        padding-top: 30px;
        gap: 20px;
        h1 {
          color: #171739;
          font-family: "SF Pro";
          font-size: 24px;
          font-weight: 500;
        }
        &_tabs {
          display: flex;
          justify-content: start;
          align-items: center;
          gap: 8px;
          button {
            padding: 10px 24px;
            border-radius: 6px;
            text-align: center;
            font-family: "SF Pro";
            font-size: 16px;
            font-weight: 500;
            line-height: 20px;
            letter-spacing: 0.3px;
            cursor: pointer;
            border: none;
            &:first-child {
              background-color: var(--text-blue);
              color: white;
            }
            &:last-child {
              background-color: transparent;
              color: var(--text-blue);
              border: 1px solid var(--border-color);
            }
          }
        }
        &_search {
          position: relative;
          width: 454px;
          height: 50px;
          background-color: red;
          border-radius: 5px;
          border: 1px solid var(--border-color);
          background: #fff;
          overflow: hidden;
          svg {
            position: absolute;
            right: 0;
            top: 50%;
            transform: translate(-50%, -50%);
          }
          input {
            width: 100%;
            height: 100%;
            padding: 12px 10px;
            border: none;
            outline: none;
            font-family: "SF Pro";
            font-size: 18px;
            font-weight: 400;
            &::placeholder {
              color: #c4c4d1;
              font-family: "SF Pro";
              font-size: 18px;
              font-weight: 400;
            }
            color: var(--text-blue);
          }
        }
        &_table {
          width: 100%;
          tbody {
            tr {
              td {
                padding: 10px 20px;
                text-align: center;
                &:first-child {
                  text-align: start;
                }
                &:nth-child(4){
                  span{
                    background-color: #E1F5C5;
                    color: #65953C;
                  }
                }
                &:nth-child(5){
                  span{
                    background-color: #FEE8C3;
                    color: #DE9147;
                  }
                }
                span {
                  color: #cc0a2a;
                  font-family: "SF Pro";
                  font-size: var(--item-spacing-s, 16px);
                  font-weight: 400;
                  line-height: var(--line-height-28, 28px);
                  padding: 4px 16px;
                  border-radius: 5px;
                  background: #ffe8eb;
                }
                p {
                  color: #1c2046;
                  font-family: "SF Pro";
                  font-size: 14px;
                  font-weight: 400;
                }
                a {
                  color: var(--main-white);
                  text-align: center;
                  font-family: "SF Pro";
                  font-size: 14px;
                  font-weight: 500;
                  line-height: 20px;
                  letter-spacing: 0.3px;
                  padding: 10px 24px;
                  border-radius: 4px;
                  background: #213366;
                  border: none;
                  cursor: pointer;
                  text-decoration: none;
                }
              }
            }
          }
        }
      }
    }
  }
}
