.objections {
  width: 100%;
  min-height: 100vh;
  background-color: var(--main-blue);
  padding: 20px 30px;
  display: flex;
  justify-content: start;
  align-items: start;
  flex-direction: row;
  gap: 3rem;
  &_left {
    display: flex;
    justify-content: start;
    align-items: start;
    flex-direction: column;
    flex-grow: 1;
    max-height: 100vh;
    overflow: auto;
    h1 {
      color: #fff;
      font-family: "SF Pro";
      font-size: 40px;
      font-weight: 500;
    }
    &_tabs {
      width: 100%;
      display: flex;
      justify-content: start;
      align-items: start;
      gap: 8px;
      margin-top: 24px;
      margin-bottom: 24px;
      button {
        padding: 10px 24px;
        border-radius: 6px;
        font-family: "SF Pro";
        font-size: 16px;
        font-weight: 500;
        line-height: 20px;
        letter-spacing: 0.3px;
        border: none;
        cursor: pointer;
        &:first-child {
          color: var(--main-blue);
          background-color: var(--main-white);
        }
        &:last-child {
          color: var(--main-white);
          background-color: transparent;
          border: 1px solid #c4c4d1;
        }
      }
    }
    &_search {
      position: relative;
      width: 45%;
      margin-top: 24px;
      height: 40px;
      svg {
        position: absolute;
        top: 50%;
        right: 0;
        transform: translate(-50%, -50%);
      }
      input {
        width: 100%;
        height: 100%;
        padding: 8px 16px;
        font-family: "SF Pro";
        font-size: 14px;
        font-weight: 400;
        background-color: transparent;
        border: 1px solid var(--main-white);
        border-radius: 4px;
        border: 1px solid #c4c4d1;
        outline: none;
        color: var(--main-white);
        &::placeholder {
          color: #c4c4d1;
        }
      }
    }
    &_nodata {
      color: #a6a6a6;
      font-family: "SF Pro";
      font-size: 24px;
      font-weight: 500;
      line-height: 140%;
      max-width: 640px;
      margin-top: 40px;
    }
    &_content {
      width: 100%;
      display: flex;
      justify-content: start;
      align-items: start;
      flex-direction: row;
      flex-wrap: wrap;
      margin-top: 40px;
      &_group {
        display: flex;
        justify-content: stretch;
        align-items: start;
        flex-direction: row;
        flex-wrap: wrap;
        flex-grow: 1;
        gap: 8px;
        @media (max-width: 550px) {
          flex-direction: column;
        }
        &_el {
          display: flex;
          justify-content: start;
          align-items: center;
          flex-direction: row;
          width: calc(100% / 3 - 8px);
          gap: 8px;
          min-width: 250px;
          flex-grow: 1;
          cursor: pointer;
          @media (max-width: 550px) {
            min-width: 0;
            width: 100%;
          }
          span {
            background-color: #ff3c73;
            padding: 12px;
            border-radius: 50%;
            color: #fff;
            text-align: center;
            font-variant-numeric: lining-nums tabular-nums;
            font-family: "SF Pro";
            font-size: 18px;
            font-style: normal;
            font-weight: 500;
            line-height: normal;
          }
          p {
            color: #fff;
            font-family: "SF Pro";
            font-size: 18px;
            font-style: normal;
            font-weight: 500;
            line-height: normal;
          }
        }
      }
    }
  }
  &_right {
    padding: 20px 35px;
    border-radius: 4px;
    background: #fff;
    width: 55%;
    max-height: 100vh;
    overflow: auto;
    h1 {
      color: #171739;
      font-family: "SF Pro";
      font-size: 24px;
      font-weight: 500;
      margin-bottom: 2rem;
    }
    &_group {
      width: 100%;
      display: flex;
      justify-content: start;
      align-items: start;
      flex-direction: column;
      margin-bottom: 24px;
      &_date {
        color: #171739;
        text-align: center;
        font-family: "SF Pro";
        font-size: 14px;
        font-weight: 400;
        padding: 5px 16px;
        border-radius: 5px;
        background: #d5dbeb;
        margin-bottom: 1rem;
      }
      &_message {
        display: flex;
        justify-content: start;
        align-items: start;
        gap: 8px;
        margin-bottom: 8px;
        span {
          padding: 2px 4px;
          border-radius: 4px;
          background: #fbb7ec;
          color: #651c64;
          font-family: "SF Pro";
          font-size: 14px;
          font-weight: 400;
        }
        p {
          color: #171739;
          font-family: "SF Pro";
          font-size: 16px;
          font-weight: 400;
          line-height: 140%;
        }
      }
      button {
        padding: 8px 12px;
        border-radius: 6px;
        font-family: "SF Pro";
        font-size: 16px;
        font-weight: 500;
        line-height: 20px;
        letter-spacing: 0.3px;
        border: none;
        cursor: pointer;
        color: var(--main-white);
        background-color: var(--text-blue);
      }
    }
  }
}
