.settings {
  width: 100%;
  display: flex;
  justify-content: start;
  align-items: start;
  flex-direction: column;
  gap: 18px;
  form {
    width: 100%;
    max-width: 487px;
    display: flex;
    justify-content: start;
    align-items: start;
    flex-direction: column;
    div {
      width: 100%;
      display: flex;
      justify-content: start;
      align-items: start;
      flex-direction: column;
      gap: 5px;
      margin-top: 10px;
      div {
        position: relative;
        width: 100%;
        input {
          width: 100%;
          color: var(--text-blue);
          font-family: "SF Pro";
          font-size: 18px;
          font-weight: 400;
          line-height: 20px;
          padding: 12px 16px;
          letter-spacing: 0.3px;
          border-radius: 5px;
          border: 1px solid var(--border-color);
          background: var(--main-white);
          outline: none;
        }
        img {
          position: absolute;
          transform: translate(-50%, -50%);
          top: 50%;
          right: 0;
          z-index: 2;
          cursor: pointer;
          background-color: white;
          width: 20px;
        }
      }
      label {
        color: #1c2046;
        font-family: "SF Pro";
        font-size: 16px;
        font-weight: 600;
        line-height: 20px;
        letter-spacing: 0.3px;
        flex: 1 0 0;
        margin-left: 16px;
        display: flex;
        justify-content: start;
        align-items: center;
        gap: 10px;
      }
      p {
        display: flex;
        justify-content: start;
        align-items: center;
        color: #cc0a2a;
        font-family: "SF Pro";
        font-size: 16px;
        font-weight: 500;
        gap: 8px;
        display: none;
        &.visible {
          display: flex;
        }
      }
    }
    button {
      width: 100%;
      padding: 10px 24px;
      margin-top: 20px;
      color: var(--main-white);
      font-family: "SF Pro";
      font-size: 16px;
      font-weight: 500;
      line-height: 20px;
      letter-spacing: 0.3px;
      background-color: var(--text-blue);
      border-radius: 6px;
      border: none;
      cursor: pointer;
      &:last-child {
        margin-top: 14px;
        background-color: transparent;
        color: var(--text-blue);
        border: 1px solid var(--text-blue);
      }
    }
    .success_bottom {
      width: 100%;
      margin-top: 20px;
      padding: 5px 16px;
      color: #0fae00;
      font-family: "SF Pro";
      font-size: 16px;
      font-weight: 400;
      line-height: 20px;
      letter-spacing: 0.3px;
      border-radius: 5px;
      background: #d6fcd3;
      display: none;
      &.visible {
        display: block;
      }
    }
    .unsuccess_bottom,
    .pass_notdemand {
      width: 100%;
      margin-top: 20px;
      padding: 5px 16px;
      color: #cc0a2a;
      font-family: "SF Pro";
      font-size: 16px;
      font-weight: 400;
      line-height: 20px;
      letter-spacing: 0.3px;
      border-radius: 5px;
      background: #ffe8eb;
      display: none;
      &.visible {
        display: block;
      }
    }
  }
}
