.timeframe {
    display: flex;
    justify-content: start;
    align-items: center;
    flex-wrap: wrap;
    border: 1px solid var(--border-color);
    padding: 18px 20px;
    width: 100%;
    background-color: var(--main-white);
    gap: 10px;
    border-radius: 10px;
    p {
      font-size: 18px;
      color: var(--text-blue);
      font-weight: 500;
    }
    button {
      padding: 5px 16px;
      color: var(--text-blue);
      font-size: 16px;
      font-weight: 400;
      border-radius: 6px;
      border: 1px solid var(--border-color);
      background-color: transparent;
      cursor: pointer;
      background-color: var(--main-white);
      @media (max-width: 450px) {
        flex-grow: 1;
      }
    }
  }