@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
*{
  margin: 0;
  padding: 0;
  font-family: 'Inter', sans-serif;
}
*::before,
*::after,
*{
  box-sizing: border-box;
}
.ant-picker{
  span{
      >svg{
          >path{
              fill: var(--text-blue);
          }
      }
  }
}
.ant-switch-checked{
  background-color: var(--text-blue) !important;
}
:root{
  --main-white: #FFFFFF;
  --main-blue: #1C2046;
  --text-blue: #213366;
  --bg-dark: #F7F8FB;
  --border-color: #E0E0F4;
}
.container{
  max-width: calc(1920px - 70px);
  padding-left: 35px;
  padding-right: 35px;
  margin: 0 auto;
}
.ant-table{
color: var(--text-blue) !important;
font-family: "SF Pro" !important;
border-radius: 20px !important;
border: 1px solid var(--border-color) !important;
overflow: hidden;
}
.ant-table-container{
border-inline-start: none !important;
border-top: none !important;
border-start-start-radius: 0 !important;
border-start-end-radius: 0 !important;
}
.ant-table-cell{
  border-inline-end: none !important;
  border-color: var(--border-color) !important;
}

.ant-table-row:last-child td{
  border: none !important;
}
.ant-table-thead >tr>th{
  background-color: white !important;
  font-size: 14px;
  font-weight: 400;
  font-family: "SF Pro";
  color: #A9A9B9 !important;
  letter-spacing: 0.5px;
}
.ant-pagination-item{
  border: none !important;
  min-width: 0 !important;
  background-color: transparent !important;
  >a{
    font-family: "SF Pro" !important;
    font-size: 14px !important;
    font-weight: 400 !important;
    color: #1c204678 !important;
  }
}
.ant-pagination-item-active{
  >a{
    color: #1C2046 !important;
  }
}
.ant-select-selection-overflow .ant-select-selection-item{
  background-color: #D7EBFF !important;
}
.ant-select-selector{
  width: 100% !important;
  border: 1px solid var(--border-color) !important;
  padding: 3px 10px !important;
}
.ant-upload-wrapper, .ant-upload{
  width: 100% !important;
}